.btn.btn-primary, .btn.btn-primary:focus {
    background-color: #19abff;
    border-radius: 40px;
    padding: 16px 30px;
    border: 0;
    box-shadow: 0px 3px 7px rgba(69, 103, 255, 0.38);
}
.btn.btn-primary:hover {
    background-color: #4dbeff;
    border-radius: 40px;
    border: 0;
    box-shadow: 0px 3px 7px rgba(69, 103, 255, 0.38);
}
.btn.btn-primary:active {
    background-color: #19abff !important;
    border-radius: 40px;
    border: 0;
    box-shadow: 0px 15px 20px 1px rgba(69, 103, 255, 0.38) !important;
}
.btn-icon {
    height: 40px;
    width: 40px;
    background-color: #e1e3e6;
    border-radius: 40px;
    outline: 0 !important;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
}
.active {
    background-color: #19abff !important;
}
.sms-btn {
    outline: 0;
    border: 0;
    background-color: rgba(69, 103, 255, 0);
    color: #19abff;
    font-size: 24px;
}
a, a:hover, a:active, a:focus {
    outline: 0;
}
.signout-btn {
    height: 60px;
    background-color: #ff6969;
    margin-left:-30px;
    margin-right:-30px;
    margin-bottom: -10px;
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white !important;
    font-size:1rem;
}

.signout-btn:hover{
    text-decoration: none;
}

.change-password i, .signout-btn i{
    font-size: 1.5rem;
}



.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #19abff;
    margin: 6px 0;
    transition: 0.4s !important;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4.5px, 6px);
    transform: rotate(-45deg) translate(-3.5px, 6px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6.5px, -9px);
    transform: rotate(45deg) translate(-6.5px, -9px);
}
