.btn.btn-primary, .btn.btn-primary:focus{
    background-color: #19ABFF;
    border-radius: 40px;
    padding: 16px 50px;
    border: 0;
    box-shadow: 0px 3px 7px rgba(69, 103, 255, 0.38);
}

.btn.btn-primary:hover{
    background-color: rgb(77, 190, 255);
    border-radius: 40px;
    padding: 16px 50px;
    border: 0;
    box-shadow: 0px 3px 7px rgba(69, 103, 255, 0.38);
}

.btn.btn-primary:active{
    background-color: #19ABFF !important;
    border-radius: 40px;
    padding: 16px 50px;
    border: 0;
    box-shadow: 0px 15px 20px 1px rgba(69, 103, 255, 0.38) !important;
}

.btn-icon{
    height: 40px;
    width: 40px;
    background-color: #E1E3E6;
    border-radius: 40px;
    outline: 0 !important;
    border: none;
}



a, a:hover, a:active, a:focus{
    outline: 0;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #19ABFF;
    margin: 6px 0;
    transition: 0.4s !important;
}
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4.5px, 6px);
    transform: rotate(-45deg) translate(-4.5px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6.5px, -9px);
    transform: rotate(45deg) translate(-6.5px, -9px);
  }