@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #333333;
}

label{
    font-size: .875rem;
    font-weight: 600;
    color: #333333;
}



body{
    font-family: 'Open Sans', sans-serif;
}