body {
    background-color: rgb(255, 255, 255) !important;
    color: #333333;
    overflow-x:hidden;
    margin: 0;
  }
  
html
{
  font-family: 'opensans', sans-serif;
  scroll-behavior: smooth;
}






input{
  background-color: #F0F2F5 !important;
  border: 0 !important;
  border-radius: 10px !important;
  height: 40px !important;
}





  


.container-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-5.container-flex{
  padding: 0px 6%;
}

.container-login{
  width:100vw;

  .container-kast{
      text-align: left;
      color:white;
  }
}

.container-form{
  width:100%;
}

.kast-bg{
  background-image: linear-gradient(-120deg,#19ABFF, #281B7D);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
