body {
    background-color: rgb(255, 255, 255) !important;
    color: #333333;
    overflow-x:hidden;
    margin: 0;
  }
  
html
{
  font-family: 'opensans', sans-serif;
  scroll-behavior: smooth;
}

input{
  background-color: #F0F2F5 !important;
  border: 0 !important;
  border-radius: 10px !important;
  height: 40px !important;
}

.flex-center{
  display:flex;
  justify-content: center;
  align-items: center;
}

.divider{
  height:60%;
  width:2px;
  background-color: #33333338;
}






.col-xl-5.flex-center{
  padding: 0px 6%;
  height:100vh
}

.container-login{
  width:100vw;

  .container-kast{
      text-align: left;
      color:white;
  }
}

.container-form{
  width:100%;
}

.kast-bg{
  background-image: linear-gradient(-120deg,#19ABFF, #281B7D);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
@media (max-width:991px){
  .kast-bg{
    display:none;
  }
}

@media (min-width:992px){
  img.kast-logo-login{
    display:none;
  }
}





nav{
  transition: all 0.3s;
  z-index: 2;
  position: relative;
  background-color:white;
  height:100px;
  width:100%;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.16);

  .nav-lg{
    display:flex;
    flex-direction: row;
    align-items:center;
    height:100%;
    width:100%;
    padding: 5px 10px;
  }

  .nav-mobile{
    display:flex;
    flex-direction: row;
    align-items:center;
    height:100%;
    width:100%;
    padding: 5px 10px;

    

    img{
      height: 32px;
    }
  }


  .nav-left{
    margin-right: auto;
    padding-left: 20px;
    display:flex;
    flex-direction: row;
    align-items:center;

    img{
      height: 32px;
    }

    .form-group{
      margin: 0;
      label{
        font-size: .875rem;
        margin:0;
        color: #3333336c;
      }
    
      .channel{
        .nav-link{
          color: #333333;
          padding: 0;
        }
      }
    }
  }


  .nav-center{
    z-index: -1;
    margin: 0px auto;
    height: 50px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;

    ul{
      list-style-type: none;
      margin:0;
      padding: 0;

      li{
        .btn-icon{
          margin: 0px 5px;
        }
      }
    }
  }

  .nav-right{
    z-index: 3;
    margin-left:auto;
    padding-right: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;

    .nav-link{
      color: #333333;
      margin-left:20px;
      padding: 0;
    }

   
  }

  .dropdown-menu{
    border:0;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.3);
  }
}

@media (min-width:993px){
  .nav-mobile{
    display:none !important;
  }
}

@media (max-width:992px){
  .nav-lg{
    display:none !important;
  }


  .nav-mobile{
    button{
      outline: 0 !important;
    }
  }


  nav{
    height: 70px;
  }
}